<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee   http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
 <filter>
  <filter-name>EncodeFilter</filter-name>
  <filter-class>filter.EncodeFilter</filter-class>
 </filter>
 <filter-mapping>
  <filter-name>EncodeFilter</filter-name>
  <url-pattern>/*</url-pattern>
 </filter-mapping>
 <servlet>
  <description>This is the description of my J2EE component</description>
  <display-name>This is the display name of my J2EE component</display-name>
  <servlet-name>Login</servlet-name>
  <servlet-class>servlet.Login</servlet-class>
 </servlet>
 <servlet>
  <description>This is the description of my J2EE component</description>
  <display-name>This is the display name of my J2EE component</display-name>
  <servlet-name>Register</servlet-name>
  <servlet-class>servlet.Register</servlet-class>
 </servlet>
 <servlet>
  <description>This is the description of my J2EE component</description>
  <display-name>This is the display name of my J2EE component</display-name>
  <servlet-name>Logout</servlet-name>
  <servlet-class>servlet.Logout</servlet-class>
 </servlet>
 <servlet>
  <description>This is the description of my J2EE component</description>
  <display-name>This is the display name of my J2EE component</display-name>
  <servlet-name>ListBook</servlet-name>
  <servlet-class>servlet.ListBook</servlet-class>
 </servlet>
 <servlet>
  <description>This is the description of my J2EE component</description>
  <display-name>This is the display name of my J2EE component</display-name>
  <servlet-name>CreateBook</servlet-name>
  <servlet-class>servlet.CreateBook</servlet-class>
 </servlet>
 <servlet>
  <description>This is the description of my J2EE component</description>
  <display-name>This is the display name of my J2EE component</display-name>
  <servlet-name>UpdateBook</servlet-name>
  <servlet-class>servlet.UpdateBook</servlet-class>
 </servlet>
 <servlet>
  <description>This is the description of my J2EE component</description>
  <display-name>This is the display name of my J2EE component</display-name>
  <servlet-name>DeleteBook</servlet-name>
  <servlet-class>servlet.DeleteBook</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>UserListBook</servlet-name>
  <servlet-class>servlet.UserListBook</servlet-class>
 </servlet>
 <servlet>
  <description>This is the description of my J2EE component</description>
  <display-name>This is the display name of my J2EE component</display-name>
  <servlet-name>AddToCart</servlet-name>
  <servlet-class>servlet.AddToCart</servlet-class>
 </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>RemoveFromCart</servlet-name>
    <servlet-class>servlet.RemoveFromCart</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>CloseCart</servlet-name>
    <servlet-class>servlet.CloseCart</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ChangeCount</servlet-name>
    <servlet-class>servlet.ChangeCount</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>RecordManage</servlet-name>
    <servlet-class>servlet.RecordManage</servlet-class>
  </servlet>




 <servlet-mapping>
  <servlet-name>Login</servlet-name>
  <url-pattern>/servlet/Login</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>Register</servlet-name>
  <url-pattern>/servlet/Register</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>Logout</servlet-name>
  <url-pattern>/servlet/Logout</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>ListBook</servlet-name>
  <url-pattern>/servlet/ListBook</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>CreateBook</servlet-name>
  <url-pattern>/servlet/CreateBook</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>UpdateBook</servlet-name>
  <url-pattern>/servlet/UpdateBook</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>DeleteBook</servlet-name>
  <url-pattern>/servlet/DeleteBook</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>UserListBook</servlet-name>
  <url-pattern>/servlet/UserListBook</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>AddToCart</servlet-name>
  <url-pattern>/servlet/AddToCart</url-pattern>
 </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RemoveFromCart</servlet-name>
    <url-pattern>/servlet/RemoveFromCart</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CloseCart</servlet-name>
    <url-pattern>/servlet/CloseCart</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ChangeCount</servlet-name>
    <url-pattern>/servlet/ChangeCount</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RecordManage</servlet-name>
    <url-pattern>/servlet/RecordManage</url-pattern>
  </servlet-mapping>
 <welcome-file-list>
  <welcome-file>index.jsp</welcome-file>
 </welcome-file-list>
 <login-config>
  <auth-method>BASIC</auth-method>
 </login-config>
</web-app>
